page-profile {
    .separator{
        margin-top: 40%;
    }

    .image{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .name {
        margin-bottom: 0.5rem !important;
    }

    .company{
        margin-top: 0.0rem !important;
    }
}
